
    
  <div class="flex">
    <div class="bg-purple-100 hidden md:block">
      <app-admin-menu></app-admin-menu>
    </div>
    
    <div class="flex flex-col w-full">
      <app-filter-section class="hidden"></app-filter-section>
      <app-desplegable-admin></app-desplegable-admin>
      
    </div>
    
    
    <div  class="fixed bottom-44 left-6 z-50 md:hidden">
    <app-boton-hamburguesa (menuToggled)="abrirMenuMobile()"></app-boton-hamburguesa>
  </div>
  @if(menuMobileOpen){
  <div class="fixed inset-0 z-50 bg-white flex flex-col">
  <!-- Header con botón volver -->
    <div class="flex items-center p-4 bg-purple-200 shadow-md">
      <app-boton-atras></app-boton-atras>
      
      <h2 class="ml-4 text-xl font-bold">Menú</h2>
    </div>

  <!-- Contenido del menú reutilizado -->
    <div class="flex-1 overflow-auto p-4">
      <app-admin-menu
      (optionClicked)="cerrarMenuMobile()"></app-admin-menu>
    </div>
</div>
  }
  
</div>



 
  
