<div class="max-w-2xl mx-auto">
  <div class="flex items-center mb-6">
    <button 
      (click)="onCancel()"
      class="mr-4 text-gray-600 hover:text-gray-900">
      ← Volver
    </button>
    <h1 class="text-2xl font-bold">Matricular Alumno</h1>
  </div>

  <div class="bg-white p-6 rounded-lg shadow">

    <!-- Selector tipo alumno -->
    <div class="mb-6">
      <label class="block text-gray-700 font-medium mb-2">
        Tipo de matrícula
      </label>

      <div class="flex gap-6">
        <label class="flex items-center gap-2 cursor-pointer">
          <input
            type="radio"
            name="mode"
            value="new"
            checked
            (change)="setMode('new')"
          />
          Alumno nuevo
        </label>

        <label class="flex items-center gap-2 cursor-pointer">
          <input
            type="radio"
            name="mode"
            value="existing"
            (change)="setMode('existing')"
          />
          Alumno existente
        </label>
      </div>
    </div>

    <!-- FORMULARIO: ALUMNO NUEVO -->
    @if(mode === 'new'){
      <div class="border-t pt-6">
        <!-- aquí irá tu student-create-form real -->
        <p class="text-gray-600 mb-4">
          Introduce los datos del nuevo alumno
        </p>
        <app-student-create-form
        (cancelCreate)="onCancelStudentCreate()">

        </app-student-create-form>

        <!-- placeholder -->
        <!-- aquí luego metes el formGroup del alumno -->
      </div>
    }

    <!-- FORMULARIO: ALUMNO EXISTENTE -->
    @if(mode === 'existing'){
      <div class="border-t pt-6">
        <p class="text-gray-600 mb-4">
          Selecciona un alumno existente para matricular
        </p>
        <app-student-selector>

        </app-student-selector>
        <!-- placeholder -->
        <!-- aquí luego irá el select de alumnos + curso -->
      </div>
    }

  </div>
</div>
