<!-- Modal de edición -->
 @if(isEditModalOpen){
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg p-6 w-96">
    <h3 class="text-xl font-bold mb-4">Editar Curso</h3>
    
    <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
      <div class="mb-4">
        <label class="block text-gray-700 mb-2">Nombre del curso</label>
        <input 
          formControlName="name"
          type="text"
          class="w-full px-3 py-2 border rounded"
          placeholder="Nombre del curso"
        />
        @if (editForm.get('name')?.invalid && editForm.get('name')?.touched) {

             <span
              class="text-red-500 text-sm">
                El nombre es requerido
            </span>
        }
       
      </div>

      <div class="flex justify-end gap-2">
        <button 
          type="button"
          (click)="closeEditModal()"
          class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
          Cancelar
        </button>
        <button 
          type="submit"
          [disabled]="editForm.invalid"
          class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600 disabled:bg-gray-300">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
 }


<!-- Botón para abrir el modal -->

@if(selectedCourse){
    <button 
    (click)="openEditModal()"
    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
    Editar nombre
    </button>
}
