
<!-- subject-list.component.html -->
<div class="p-4">
  
  <!-- Vista: Lista -->
  @if(!showCreateForm){
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">{{'entities.subject.title' | translate }}</h1>
      <app-boton-create 
      label="{{'lists.subjects.createButton' | translate}}"
      (clickAction)="openCreateForm()"> 
      </app-boton-create>
    </div>
    @for (sub of subjects; track sub.id){
    <app-asignatura-list-item [subject]="sub"
        ></app-asignatura-list-item>
    }
  } 
   
    

  <!-- Vista: Formulario -->
  @if(showCreateForm){
    <app-subject-create-form 
      (cancelCreate)="closeCreateForm()" 
      (subjectCreated)="onSubjectCreated()">
    </app-subject-create-form>
  }

</div>