<div class="flex m-2 bg-purple-300 rounded">
    <p>{{subject.name}}</p>
    
    <app-boton-edit [id]="subject.id" (showEdit)="toggleEdit($event)"></app-boton-edit>
    <app-boton-delete [id]="subject.id" (showDelete)="toggleDelete($event)"></app-boton-delete>
    <app-boton-viewdetail [id]="subject.id" (showDetail)="toggleDetail($event)"></app-boton-viewdetail>
</div>

<div>
    @if(selectedSubject){
    
        <app-asignatura-view-detail [subject]="selectedSubject"></app-asignatura-view-detail>
    }

        @if(subjectToEdit){
        <app-subject-edit-modal 
            [subject]="subjectToEdit" 
            (closeModal)="closeEditModal()" 
            (subjectUpdated)="onSubjectUpdated($event)">
        </app-subject-edit-modal>
    }

    @if(subjectToDelete){
        <app-subject-delete-modal 
            [subject]="subjectToDelete" 
            (closeModal)="subjectToDelete = null" 
            (subjectDeleted)="onSubjectDeleted($event)">
        </app-subject-delete-modal>
    }

</div>

