<div class="bg-purple-200 rounded p-5 text-center">
    <h1 class="text-2xl text-purple-800">Ziryab</h1>
    <div class="relative bg-purple-200 text-left">
        <h2 class="ml-9">Nombre</h2>
        <span class="text-gray-400 bg-purple-300 rounded-full absolute left-3 top-1/2 -translate-y-1/2 ">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                            />
                        </svg>
                    </span>
    </div>
</div>
