

    <div class="flex flex-col gap-4 m-2 bg-purple-100">
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('students')">{{ 'adminMenu.students' | translate }}</button>
        
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('teachers')">{{ 'adminMenu.teachers' | translate }}</button>
       
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('subjects')" >{{ 'adminMenu.subjects' | translate }}</button>
        
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('groups')" >{{ 'adminMenu.groups' | translate }}</button>
       
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('ciclos')" >{{ 'adminMenu.courses' | translate }}</button>  
        
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('schedules')" >{{ 'adminMenu.schedules' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('tasks')">{{ 'adminMenu.tasks' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('classSessions')">{{ 'adminMenu.classSessions' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('studentTasks')">{{ 'adminMenu.studentTasks' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('assistances')">{{ 'adminMenu.assistances' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('notifications')">{{ 'adminMenu.notifications' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('tutors')">{{ 'adminMenu.tutors' | translate }}</button>

        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('issues')">{{ 'adminMenu.issues' | translate }}</button>
    </div>
      

