

    <div class="flex flex-col gap-4 m-2">
        <button class="px-4 py-2 bg-blue-500 text-white rounded" (click)="onClick('students')">Alumnos</button>
        
        <button class="px-4 py-2 bg-green-500 text-white rounded" (click)="onClick('teachers')">Profesores</button>
       
        <button class="px-4 py-2 bg-purple-500 text-white rounded" (click)="onClick('subjects')" >Asignaturas</button>
        
        <button class="px-4 py-2 bg-orange-500 text-white rounded" (click)="onClick('groups')" >Grupos</button>
       
        <button class="px-4 py-2 bg-yellow-500 text-white rounded" (click)="onClick('ciclos')" >Ciclos</button>  
    </div>
      



