<div class="flex m-2 bg-purple-300 rounded justify-between items-center px-1">
    <p>{{student.surname}}, {{student.ndSurname}}</p>
    <p>{{student.name}}</p>
    <p>{{student.email}}</p>

    <div class="flex gap-1 py-1">
        <app-boton-edit [id]="student.id" (showEdit)="toggleEdit($event)"></app-boton-edit>
    <app-boton-delete></app-boton-delete>
    <app-boton-viewdetail [id]="student.id" (showDetail)="toggleDetail($event)"></app-boton-viewdetail>
    </div>
    
</div>

<div>
    @if(selectedStudent){
    
        <app-view-detail [student]="selectedStudent"></app-view-detail>
    }

     @if(studentToEdit){
        <app-student-edit-modal 
            [student]="studentToEdit" 
            (closeModal)="closeEditModal()" 
            (studentUpdated)="onStudentUpdated($event)">
        </app-student-edit-modal>
    }
</div>


