<div class="flex m-2 bg-purple-300 rounded justify-between items-center px-1">
    <p>{{student.surname}}, {{student.ndSurname}}</p>
    <p>{{student.name}}</p>
    <p>{{student.email}}</p>

    <div class="flex gap-1 py-1">
        <app-boton-edit [id]="student.id" (showEdit)="toggleEdit($event)"></app-boton-edit>
    <app-boton-delete [id]="student.id" (showDelete)="toggleDelete($event)"></app-boton-delete>
    <app-boton-viewdetail [id]="student.id" (showDetail)="toggleDetail($event)"></app-boton-viewdetail>
    </div>
    
</div>

<div>
    @if(selectedStudent){
    
        <app-view-detail [student]="selectedStudent"></app-view-detail>
    }

     @if(studentToEdit){
        <app-generic-edit-modal
  entityType="el estudiante"
  [entityName]="studentToEdit.name"
  [entityData]="studentToEdit"
  [fields]="studentFields"
  [updateFunction]="updateStudentFn"
  (closeModal)="closeEditModal()"
  (entityUpdated)="onStudentUpdated($event)">
</app-generic-edit-modal>
    }

    @if(studentToDelete){
        <app-generic-delete-modal
            entityType="el estudiante"
            [entityName]="studentToDelete.name + ' ' + studentToDelete.surname"
            [entityId]="studentToDelete.id"
            [deleteFunction]="deleteStudentFn"
            (closeModal)="closeDeleteModal()"
            (entityDeleted)="onStudentDeleted($event)">
        </app-generic-delete-modal>
    }
</div>


