<form [formGroup]="formSearch" class="p-5 border rounded-md bg-gray-800 text-black">

  <h2 class="text-lg mb-3">Buscar alumno</h2>

  <!-- SELECT: criterio de búsqueda -->
  <div class="mb-3">
    <label class="block mb-1">Buscar por</label>
    <select formControlName="criteria" class="px-3 h-8 w-full border rounded-sm text-black">
      <option value="">-- Selecciona --</option>
      <option value="dni">DNI</option>
      
      <option value="surname">Apellidos</option>
    </select>
  </div>

  <!-- INPUT según criterio usando @if{html} -->
  @if(formSearch.get('criteria')?.value === 'dni'){
    <div class="mb-3">
    <label class="block mb-1">DNI</label>
    <input type="text" class="px-3 h-8 w-full border rounded-sm" placeholder="Introduce el DNI" />
  </div>
  }
  

  @if(formSearch.get('criteria')?.value === 'surname'){
    <div class="mb-3">
    <label class="block mb-1">Apellidos</label>
    <input type="text" class="px-3 h-8 w-full border rounded-sm" placeholder="Introduce los apellidos" />
  </div>

  }
  

  <button  class="w-full py-2 bg-blue-500 text-white rounded-sm border border-blue-500 hover:bg-blue-700" (click)="onSubmit()">
    Buscar
  </button>

</form>
@if (showResult) {
    <div class="mt-5 p-5 border rounded-md bg-gray-700 text-white">
  <h3 class="text-lg mb-3 font-semibold">Alumno encontrado</h3>

  <div class="grid grid-cols-1 gap-3">

    <div class="flex items-center gap-2">
      <label class="w-32">Email:</label>
      <input [value]="studentResult.email" readonly class="flex-1 px-3 h-8 border rounded-sm bg-gray-600"/>
      <app-edit-button></app-edit-button>
    </div>

    <div class="flex items-center gap-2">
      <label class="w-32">Nombre:</label>
      <input [value]="studentResult.name" readonly class="flex-1 px-3 h-8 border rounded-sm bg-gray-600"/>
      <app-edit-button></app-edit-button>
    </div>

    <div class="flex items-center gap-2">
      <label class="w-32">Apellidos:</label>
      <input [value]="studentResult.surname" readonly class="flex-1 px-3 h-8 border rounded-sm bg-gray-600"/>
      <app-edit-button></app-edit-button>
    </div>

    <div class="flex items-center gap-2">
      <label class="w-32">2do Apellido:</label>
      <input [value]="studentResult.ndSurname" readonly class="flex-1 px-3 h-8 border rounded-sm bg-gray-600"/>
      <app-edit-button></app-edit-button>
    </div>

    <div class="flex items-center gap-2">
      <label class="w-32">Fecha nacimiento:</label>
      <input [value]="studentResult.fechaNacimiento" readonly class="flex-1 px-3 h-8 border rounded-sm bg-gray-600"/>
      <app-edit-button></app-edit-button>
    </div>

    <div class="flex items-center gap-2">
      <label class="w-32">DNI:</label>
      <input [value]="studentResult.dni" readonly class="flex-1 px-3 h-8 border rounded-sm bg-gray-600"/>
      <app-edit-button></app-edit-button>
    </div>

  </div>
</div>
}
