<button
  class="flex items-center px-4 py-4 bg-purple-400 text-white rounded hover:bg-purple-500"
  (click)="onClick()"
>
  <!-- Icono lápiz SVG pequeño -->
  <svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke-width="2"
  stroke="currentColor"
  class="w-5 h-5 mr-2"
  aria-hidden="true"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
  />
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M4 21v-1a4 4 0 014-4h8a4 4 0 014 4v1"
  />
</svg>

</button>