
<div class="flex flex-col  md:flex-row md:gap-3">
  <button (click)="cambiarIdioma('es')" aria-label="Español">
    <img src="/assets/flags/es.png" alt="Español" class="w-6 h-6  md:w-8 md:h-8" />
  </button>

  <button (click)="cambiarIdioma('en')" aria-label="English">
    <img class="w-6 h-6 md:w-8 md:h-8" src="/assets/flags/en.png" alt="English" />
  </button>

  <button (click)="cambiarIdioma('de')" aria-label="Deutch">
    <img class="w-6 h-6 md:w-8 md:h-8" src="/assets/flags/de.png" alt="Deutch" />
  </button>
</div>