<div class="grid grid-cols-2 grid-rows-2 h-[85vh] gap-6 my-4 px-4">
    <div class=" flex justify-center items-center rounded-md max-w-* top-5 bg-gradient-to-br from-purple-100 via-purple-150 to-purple-200 ">
        <h1 class=" text-center text-black text-xl font-bold">
        Ficha usuario
        </h1>
    </div>
    <div class=" flex justify-center items-center gap-x-* rounded-md max-w-* top-5 bg-gradient-to-br from-purple-100 via-purple-150 to-purple-200 ">
        <h1 class="text-center text-black text-xl font-bold">
            Horario
        </h1>
    </div>
    <div class=" flex justify-center items-center gap-x-*  rounded-md max-w-* top-5 bg-gradient-to-br from-purple-100 via-purple-150 to-purple-200 ">
        <h1 class=" text-center text-black text-xl font-bold">
            Calendario
        </h1>
    </div>
    <div class=" flex justify-center items-center gap-x-* rounded-md max-w-* top-5 bg-gradient-to-br from-purple-100 via-purple-150 to-purple-200 ">
        <h1 class=" text-center text-black text-xl font-bold">
            Tablon de anuncio
        </h1>
    </div>
</div>
