<div class="grid grid-cols-2 gap-6">
    <div class="mt-12 ml-30  rounded-md max-w-96 top-5 bg-gradient-to-br from-blue-100 via-purple-150 to-blue-200 ">
       <h1 class="mt-3  text-center text-black text-xl font-bold">
           Ficha usuario
       </h1>
    </div>
    <div class="mt-12 ml-30 rounded-md max-w-96 top-5 bg-gradient-to-br from-green-100 via-purple-150 to-green-200 ">
       <h1 class="mt-3  text-center text-black text-xl font-bold">
           Horario
       </h1>
    </div>
    <div class="mt-12 ml-30  rounded-md max-w-96 top-5 bg-gradient-to-br from-orange-100 via-purple-150 to-orange-200 ">
       <h1 class="mt-3  text-center text-black text-xl font-bold">
           Calendario
       </h1>
    </div>
    <div class="mt-12  mr-30 rounded-md max-w-96 top-5 bg-gradient-to-br from-yellow-100 via-purple-150 to-yellow-200 ">
       <h1 class="mt-3  text-center text-black text-xl font-bold">
           Tablon de anuncio
       </h1>
    </div>
</div>
