

<div class="p-4">
  @if(!showCreateForm){
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">{{'entities.course.title' | translate }}</h1>
      <app-boton-create 
      label="{{'lists.courses.createButton' | translate}}"
      (clickAction)="openCreateForm()"> 
      </app-boton-create>
    </div>
    @for (cou of courses; track cou.id){
    <app-course-list-item [course]="cou" (courseUpdated)="onCourseUpdated($event)"></app-course-list-item>
    }

}
@if(showCreateForm){
    <app-course-create-form 
      (cancelCreate)="closeCreateForm()" 
      (courseCreated)="onCourseCreated()">
    </app-course-create-form>
  }


</div>

