

<div class="p-4">
  @if(!showCreateForm){
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Ciclos</h1>
      <button 
        (click)="openCreateForm()"
        class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
        + Nuevo Ciclo
      </button>
    </div>
    @for (cou of courses; track cou.id){
    <app-course-list-item [course]="cou" (courseUpdated)="onCourseUpdated($event)"  (courseDeleted)="onCourseDeleted($event)"></app-course-list-item>
    }

}
@if(showCreateForm){
    <app-course-create-form 
      (cancelCreate)="closeCreateForm()" 
      (courseCreated)="onCourseCreated()">
    </app-course-create-form>
  }


</div>

