<div class="p-4">
  @if (!showCreateForm) {
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">{{ 'entities.student.title' | translate }}</h1>
      <app-boton-create
        label="{{ 'lists.students.createButton' | translate }}"
        (clickAction)="openCreateForm()"
      >
      </app-boton-create>
    </div>

    @if (students.length === 0) {
      <p class="text-gray-600">{{ 'lists.students.emptyList' | translate }}</p>
    }

    @for (stu of students; track stu.id) {
      <app-list-item [student]="stu"></app-list-item>
    }
  } @else {
    <app-student-enrollment
      (cancelCreate)="closeCreateForm()"
      (studentCreated)="onStudentCreated()"
      [students]="students"
    ></app-student-enrollment>
  }
</div>
