<form
    class="px-5"
    [formGroup]="formRegister"
    (ngSubmit)="onSubmit()"
>
    <!-- EMAIL -->
    <div class="mb-3">
        <label class="block text-white" for="email">Email</label>
        <div class="relative">
            <span class="text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
                <!-- Icono email -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                </svg>
            </span>

            <input
                id="email"
                name="email"
                formControlName="email"
                autocomplete="email"
                placeholder="tu@email.com"
                class="px-10 h-8 rounded-sm border w-full"
                type="email"
            />
        </div>
        @if(formRegister.get('email')?.invalid && formRegister.get('email')?.touched){
            <span class="text-red-400 text-sm">
            Email inválido
        </span>
        }
        
    </div>

    <!-- NAME -->
    <div class="mb-3">
        <label class="block text-white">Nombre</label>
        <input
            formControlName="name"
            placeholder="Nombre"
            class="px-3 h-8 rounded-sm border w-full"
            type="text"
        />
        @if(formRegister.get('name')?.invalid && formRegister.get('name')?.touched){
            <span  
              class="text-red-400 text-sm">
            El nombre es requerido
        </span>
        }
        
    </div>

    <!-- SURNAME -->
    <div class="mb-3">
        <label class="block text-white">Primer apellido</label>
        <input
            formControlName="surname"
            placeholder="Primer apellido"
            class="px-3 h-8 rounded-sm border w-full"
            type="text"
        />

        @if(formRegister.get('surname')?.invalid && formRegister.get('surname')?.touched){
              <span 
              class="text-red-400 text-sm">
            El primer apellido es requerido
        </span>
        }
      
    </div>

    <!-- SECOND SURNAME -->
    <div class="mb-3">
        <label class="block text-white">Segundo apellido</label>
        <input
            formControlName="ndSurname"
            placeholder="Segundo apellido"
            class="px-3 h-8 rounded-sm border w-full"
            type="text"
        />
    </div>

    <!-- FECHA NACIMIENTO -->
    <div class="mb-3">
        <label class="block text-white">Fecha de nacimiento</label>
        <input
            formControlName="birthDate"
            type="date"
            class="px-3 h-8 rounded-sm border w-full"
        />

        @if(formRegister.get('birthDate')?.invalid && formRegister.get('birthDate')?.touched){
            <span  
              class="text-red-400 text-sm">
                La fecha de nacimiento es requerida
            </span>
        }
        
    </div>

    <!-- DNI -->
    <div class="mb-3">
        <label class="block text-white">DNI</label>
        <input
            formControlName="dni"
            placeholder="12345678A"
            class="px-3 h-8 rounded-sm border w-full"
            type="text"
            maxlength="9"
        />

        @if(formRegister.get('dni')?.invalid && formRegister.get('dni')?.touched){
            <span 
              class="text-red-400 text-sm">
            DNI inválido
        </span>
        }
        
    </div>

    <!-- ROLE -->
    <div class="mb-3">
        <label class="block text-white">Rol</label>
        <select
            formControlName="role"
            class="px-3 h-8 rounded-sm border w-full"
        >
            <option value="">Selecciona un rol</option>
            <option value="student">Estudiante</option>
            <option value="teacher">Profesor</option>
            <option value="admin">Administrador</option>
        </select>

        @if(formRegister.get('role')?.invalid && formRegister.get('role')?.touched){
             <span 
              class="text-red-400 text-sm">
            El rol es requerido
        </span>
        }
       
    </div>

    <!-- BOTÓN -->
    <button
        class="rounded-sm mb-3 w-full px-4 py-2 font-medium 
               bg-purple-400 hover:bg-purple-600 
               border border-purple-400 text-white
               disabled:bg-gray-400 disabled:cursor-not-allowed"
        type="submit"
        [disabled]="formRegister.invalid"
    >
        Registrar Estudiante
    </button>
</form>
