<div class="max-w-2xl mx-auto">
  <div class="flex items-center mb-6">
    <button
      type="button"
      (click)="onCancel()"
      [disabled]="selectedStudentService.enrollmentInProgress()"
      class="mr-4 text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 disabled:opacity-50 disabled:cursor-not-allowed">
      ← Volver
    </button>
    <h1 class="text-2xl font-bold text-gray-900 dark:text-purple-100">{{ 'studentEnrollment.title' | translate }}</h1>
  </div>

  <div class="bg-white dark:bg-gray-900 dark:border dark:border-gray-800 p-6 rounded-lg shadow">

    <!-- Selector tipo alumno -->
     @if (mode === 'new' || mode === 'existing') {
       <app-student-mode-selector
      (modeSelected)="setMode($event)">

      </app-student-mode-selector>
     }
  

    <!-- FORMULARIO: ALUMNO NUEVO -->
    @if(mode === 'new'){
      <div class="border-t border-gray-200 dark:border-gray-700 pt-6">
        <!-- aquí irá tu student-create-form real -->
        <p class="text-gray-600 dark:text-gray-400 mb-4">
          Introduce los datos del nuevo alumno
        </p>
        <app-student-create-form
        (cancelCreate)="onCancelStudentCreate()"
        (studentCreated)="onStudentCreated()">

        </app-student-create-form>

        <!-- placeholder -->
        <!-- aquí luego metes el formGroup del alumno -->
      </div>
    }

    <!-- FORMULARIO: ALUMNO EXISTENTE -->
    @if(mode === 'existing'){
      <div class="border-t border-gray-200 dark:border-gray-700 pt-6">
        <p class="text-gray-600 dark:text-gray-400 mb-4">
          Selecciona un alumno existente para matricular
        </p>
        <app-student-selector
         [students]="students"
         (cancelSelection)="onCancel()"
         (studentSelected)="onStudentSelected($event)">

        </app-student-selector>
        <!-- placeholder -->
        <!-- aquí luego irá el select de alumnos + curso -->
      </div>
    }

    @if(mode === 'set-registration'){
  <div class="border-t pt-6">
    <app-set-registration
    [students]="students" (closeForm)="onRegistrationFinished()"></app-set-registration>
  </div>
}


  </div>
</div>
