<footer class="w-full bg-gradient-to-r from-purple-300 via-purple-300 to-purple-200 p-8 shadow-lg relative">
  <div class="text-center">
    <a routerLink="/about" 
       class="text-2xl font-extrabold text-purple-800 tracking-wide mb-6 font-sans hover:text-purple-950 hover:underline cursor-pointer block transition-colors duration-200 decoration-2 underline-offset-4">
      Sobre nosotros
    </a>
    <div class="flex justify-center gap-8">
      <!-- git -->
      <a href="https://github.com/Paco16889/loginEnAngular/tree/main" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v10/icons/github.svg" 
             alt="GitHub" 
             class="w-10 h-10 hover:scale-110 transition-transform">
      </a>
      <!-- confluence -->
      <a href="https://g-team-ddm5j4dr.atlassian.net/wiki/x/CwEh" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v10/icons/confluence.svg" 
             alt="Confluence" 
             class="w-10 h-10 hover:scale-110 transition-transform">
      </a>
    </div>
  </div>
</footer>
