
@if(toggleservice.openedMenu()==='students'){
    <p>estoy en alumnos oeoeoe </p>
    <app-list-item></app-list-item>
}
@if(toggleservice.openedMenu()=== 'teachers'){
    <p>teachers teachers</p>
}
@if(toggleservice.openedMenu() === 'subjects') {
    <p>asignaturas </p>
}
@if(toggleservice.openedMenu() === 'groups'){
    <p>grupos</p>
}
@if (toggleservice.openedMenu() === 'ciclos') {
    <p>ciclos </p>
}
@if(toggleservice.openedMenu() === null){
    <p>estas en open menu nulo</p>
}

<div class="absolute top-20 left-3/4 -translate-x-1/2 p-4 rounded shadow-lg z-50">
    <app-float-menu></app-float-menu>
</div>
