
@if(toggleservice.openedMenu()==='students'){
    
    <app-list></app-list>
}
@if(toggleservice.openedMenu()=== 'teachers'){
    
    <app-teacher-list></app-teacher-list>
}
@if(toggleservice.openedMenu() === 'subjects') {
    
    <app-asignatura-list></app-asignatura-list>
}
@if(toggleservice.openedMenu() === 'groups'){
    
    <app-group-list></app-group-list>
}
@if (toggleservice.openedMenu() === 'ciclos') {

    <app-course-list></app-course-list>
}
@if (toggleservice.openedMenu() === 'schedules') {

    <app-week-schedule-list></app-week-schedule-list>
}
@if (toggleservice.openedMenu() === 'sessions') {
    <app-class-session-list></app-class-session-list>
}
