  @if(!showCreateForm){
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Profesores</h1>
      <button 
        (click)="openCreateForm()"
        class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
        + Nuevo Profesor
      </button>
    </div>

    @for (tea of teachers; track tea.id){
        <app-teacher-list-item [teacher]="tea" (teacherUpdated)="onTeacherUpdated($event)" (teacherDeleted)="onTeacherDeleted($event)"></app-teacher-list-item>
    }
}


  @if(showCreateForm){
    <app-teacher-create-form 
      (cancelCreate)="closeCreateForm()" 
      (teacherCreated)="onTeacherCreated()">
    </app-teacher-create-form>
  }


