<div class="grid grid-cols-4 gap-6">
     <div class="mt-12 ml-12 rounded-md max-w-96 top-5 bg-gradient-to-br from-blue-100 via-purple-150 to-blue-200 ">
        <h1 class="mt-3  text-center text-black text-xl font-bold">
            Interfaces
        </h1>
        <hr class="mt-3 border-t border-blue-400">
        <p class="mt-5 mb-3 ml-5  text-black text-sm text-left">
            "nombre grado/curso"
        </p>
        <p class="mb-5 ml-5  text-black text-sm text-left">
            "nombre profesor"
        </p>
     </div>
     <div class="mt-12 ml-12 rounded-md max-w-96 top-5 bg-gradient-to-br from-green-100 via-purple-150 to-green-200 ">
        <h1 class="mt-3  text-center text-black text-xl font-bold">
            Acceso a datos
        </h1>
        <hr class="mt-3 border-t border-green-400">
        <p class="mt-5 mb-3 ml-5  text-black text-sm text-left">
            "nombre grado/curso"
        </p>
        <p class="mb-5 ml-5  text-black text-sm text-left">
            "nombre profesor"
        </p>
     </div>
     <div class="mt-12 ml-12 rounded-md max-w-96 top-5 bg-gradient-to-br from-orange-100 via-purple-150 to-orange-200 ">
        <h1 class="mt-3  text-center text-black text-xl font-bold">
            Android
        </h1>
        <hr class="mt-3 border-t border-orange-400">
        <p class="mt-5 mb-3 ml-5  text-black text-sm text-left">
            "nombre grado/curso"
        </p>
        <p class="mb-5 ml-5  text-black text-sm text-left">
            "nombre profesor"
        </p>
     </div>
     <div class="mt-12 ml-12 rounded-md max-w-96 top-5 bg-gradient-to-br from-yellow-100 via-purple-150 to-yellow-200 ">
        <h1 class="mt-3  text-center text-black text-xl font-bold">
            IPE
        </h1>
        <hr class="mt-3 border-t border-purple-400">
        <p class="mt-5 mb-3 ml-5  text-black text-sm text-left">
            "nombre grado/curso"
        </p>
        <p class="mb-5 ml-5  text-black text-sm text-left">
            "nombre profesor"
        </p>
     </div>
     <div class="mt-12 ml-12 rounded-md max-w-96 top-5 bg-gradient-to-br from-pink-100 via-purple-150 to-pink-200 ">
        <h1 class="mt-3  text-center text-black text-xl font-bold">
            Ingles
        </h1>
        <hr class="mt-3 border-t border-pink-400">
        <p class="mt-5 mb-3 ml-5  text-black text-sm text-left">
            "nombre grado/curso"
        </p>
        <p class="mb-5 ml-5  text-black text-sm text-left">
            "nombre profesor"
        </p>
     </div>
     <div class="mt-12 ml-12 rounded-md max-w-96 top-5 bg-gradient-to-br from-zinc-100 via-purple-150 to-zinc-200 ">
        <h1 class="mt-3  text-center text-black text-xl font-bold">
            Servidores
        </h1>
        <hr class="mt-3 border-t border-zinc-400">
        <p class="mt-5 mb-3 ml-5  text-black text-sm text-left">
            "nombre grado/curso"
        </p>
        <p class="mb-5 ml-5  text-black text-sm text-left">
            "nombre profesor"
        </p>
     </div>
</div>
