<div class="p-4">
  @if(!showCreateForm){
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Alumnos</h1>
      <app-boton-create 
      label="Matricular Alumno"
      (clickAction)="openCreateForm()"> 
      </app-boton-create>
    </div>
   @for (stu of students; track stu.id){
    
    <app-list-item [student]="stu" (studentDeleted)="onStudentDeleted($event)" (studentUpdated)="onStudentUpdated($event)"></app-list-item>
} 


}@else {
      @if(students.length > 0 ){
        <app-student-enrollment 
      (cancelCreate)="closeCreateForm()" 
      (studentCreated)="onStudentCreated()"
      [students]="students">
    </app-student-enrollment>
      }
      
}





</div>
