<div class="p-4">
  @if(!showCreateForm){
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Alumnos</h1>
      <button 
        (click)="openCreateForm()"
        class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
        Matricular Alumno
      </button>
    </div>
   @for (stu of students; track stu.id){
    
    <app-list-item [student]="stu"></app-list-item>
} 


}@else {
      @if(students.length > 0 ){
        <app-student-enrollment 
      (cancelCreate)="closeCreateForm()" 
      (studentCreated)="onStudentCreated()"
      [students]="students">
    </app-student-enrollment>
      }
      
}





</div>
