<form [formGroup]="formSearch" class="p-5 border rounded-md bg-gray-800 text-black">

  <h2 class="text-lg mb-3">Buscar alumno</h2>

  <!-- SELECT: criterio de búsqueda -->
  <div class="mb-3">
    <label class="block mb-1">Buscar por</label>
    <select formControlName="criteria" class="px-3 h-8 w-full border rounded-sm text-black">
      <option value="">-- Selecciona --</option>
      <option value="dni">DNI</option>
      
      <option value="surname">Apellidos</option>
    </select>
  </div>

  <!-- INPUT según criterio usando @if/@endif -->
  @if(formSearch.get('criteria')?.value === 'dni'){
    <div class="mb-3">
    <label class="block mb-1">DNI</label>
    <input type="text" class="px-3 h-8 w-full border rounded-sm" placeholder="Introduce el DNI" />
  </div>
  }
  

  @if(formSearch.get('criteria')?.value === 'surname'){
    <div class="mb-3">
    <label class="block mb-1">Apellidos</label>
    <input type="text" class="px-3 h-8 w-full border rounded-sm" placeholder="Introduce los apellidos" />
  </div>

  }
  

  <button type="submit" class="w-full py-2 bg-blue-500 text-white rounded-sm border border-blue-500 hover:bg-blue-700">
    Buscar
  </button>

</form>
