<div class="flex m-2 bg-purple-300 rounded justify-between items-center px-1">
    <p>{{teacher.surname}}, {{teacher.ndSurname}}</p>
    <p>{{teacher.name}}</p>
    <p>{{teacher.email}}</p>
    <div class="flex gap-1 py-1">
    <app-boton-edit></app-boton-edit>
    <app-boton-delete></app-boton-delete>
    <app-boton-viewdetail [id]="teacher.id" (showDetail)="toggleDetail($event)"></app-boton-viewdetail>
    </div>
    
</div>

<div>
  @if(selectedTeacher){
    
        <app-teacher-view-detail [teacher]="selectedTeacher"></app-teacher-view-detail>
}
</div>
